body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.category-selection {
    margin: 20px;
}

#category {
    padding: 10px;
    font-size: 16px;
}

.recipes-container {
    padding: 20px;
}

#recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.recipe-details {
    display: none;
    margin-top: 10px;
}

.prikazi-recept-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.prikazi-recept-btn:hover {
    background-color: #218838;
}
