
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    
}
main {
   
    flex: 1; 
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #FF6F61;
    color: white;
    padding: 30px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header nav {
    margin-top: 15px;
}

header nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #E55B47;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #FF6F61;
}

main {
    text-align: center;
    padding: 50px 0;
}

.action-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #FF6F61;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #E55B47;
}


footer {
        background-color: #FF6F61;
        color: white;
        padding: 20px;
        text-align: center;
       
        border-radius: 8px;
        box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
        width: 100%;
        position: relative;
}
.pozadina {
    background-image: url("pictures/pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    min-height: calc(70vh - 100px); 

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

