.modal {
    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#editRecipeForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
label
{
    align-self: flex-start;
    margin-bottom: 0.25rem;
    margin-left: 15.5rem;
}
.textbox
{
    width: 60%;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    
}
.textarea
{
    width: 60%;
    height: 5rem;
    padding-left: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    
}

.modal-content {
    
    background-color: lightgray;
    width: 70%;
    border: none;
    border-radius: 0.5rem;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#button
{
    background-color: gray;
    color: white;
    transition: 0.5s ease;
}
#button:hover
{
    background-color: #aaa;
}
.back-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1rem;
    width: 60%;
    display: block;
    text-align: center;
}

.back-button:hover {
    background-color: #aaa;
}






