html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/013/937/135/small_2x/cyber-security-abstract-technology-banner-background-data-protection-information-privacy-photo.jpg'); /* tvoja pozadinska slika */
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
}

.back-button {
    text-align: center;
    margin-top: 20px;
}

.btn-back {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-back:hover {
    background-color: #555;
}

main.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; 
}

.privacy-policy {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.privacy-policy h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.privacy-policy h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #444;
}

.privacy-policy p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer .footer-content p {
    margin: 0;
}
