body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: lightgrey;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

nav {
    margin-top: 10px;
}

.action-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

.action-button:hover {
    background-color: #0056b3;
}

.recipe-list {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card {
    display: flex;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: left;
}

.recipe-card img {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.recipe-content {
    flex: 1;
}

.recipe-content h2 {
    margin: 0;
    color: #333;
}

.recipe-content h3 {
    margin-top: 10px;
    color: #555;
}

.recipe-content p {
    margin-top: 5px;
    color: #666;
}

.btn-change
{
    width: 7.5rem;
    height: 2.5rem;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
    transition: 0.5s ease;
}

.btn-change:hover
{
    background-color: darkblue;
    transform: scale(1.1);
}

#footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: black;
    height: 10vh;
}
