*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container 
{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 
{
    color: #d32f2f;
    margin-bottom: 30px;
}

label 
{
    display: block;
    text-align: left;
    margin-top: 10px;
}

input 
{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button 
{
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.75s ease;
}

button:hover 
{
    background-color: #7d0202;
}
.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f; 
    color: white;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-home:hover {
    background-color: #7d0202; 
}

p 
{
    margin-top: 10px;
}

a 
{
    color: #d32f2f;
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}