
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
   
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#buttonNazad {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#buttonNazad:hover {
    background-color: #4cae4c;
}

h1 {
    text-align: center;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    position: relative; 
    padding-top: 40px; /
}

.form-group {
    margin-bottom: 15px;
    margin-right: 1.5rem;
}

label {
    font-size: 1.2em;
    color: #555;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
    height: 150px;
}

.submit-btn {
    background-color: #5cb85c;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #4cae4c;
}
